$amarillo:#F7FE2E;
$rojo:#B40404;
$verde:#2EFE2E;

@mixin margenes($top,$right,$bottom,$left){
margin-top: $top;
margin-right: $right;
margin-bottom: $bottom;
margin-left: $left;

}
@mixin padding($top,$right,$bottom,$left){
padding-top: $top;
padding-right: $right;
padding-bottom: $bottom;
padding-left: $left;

}

.card-1{
	flex: 1 200px;
	@include margenes(20px,20px,20px,20px);

}
.jumbotron{
	background-color: $verde;
	@include margenes(35px,0,0,0);
}

.btn-1{
	width: 100%;
	border-radius: 0px;
	background-color:$rojo;

}

footer{
	background-color: $amarillo;
	color: #FFFF;
	@include padding(0,20px,0,20px);
}

.margen-tabs{
	@include margenes(0,0,10px,0);
}