@amarillo:#F7FE2E;
@rojo:#B40404;
@verde:#2EFE2E;

.margenes(@top:0px,@right:0px,@bottom:0px,@left:0px){
margin-top: @top;
margin-right: @right;
margin-bottom: @bottom;
margin-left: @left;

}
.padding(@top:0px,@right:0px,@bottom:0px,@left:0px){
padding-top: @top;
padding-right: @right;
padding-bottom: @bottom;
padding-left: @left;

}

.card-1{
	flex: 1 200px;
	.margenes(20px,20px,20px,20px);

}
.jumbotron{
	background-color: @verde;
	.margenes(35px,0,0,0);
}

.btn-1{
	width: 100%;
	border-radius: 0px;
	background-color:@rojo;

}

footer{
	background-color: @amarillo;
	color: #FFFF;
	.padding(0,20px,0,20px);
}

.margen-tabs{
	.margenes(0,0,10px,0);
}