.card-1 {
  flex: 1 200px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px; }

.jumbotron {
  background-color: #2EFE2E;
  margin-top: 35px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.btn-1 {
  width: 100%;
  border-radius: 0px;
  background-color: #B40404; }

footer {
  background-color: #F7FE2E;
  color: #FFFF;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px; }

.margen-tabs {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0; }
