.card-1{
	flex: 1 200px;
	margin: 20px;

}
.jumbotron{
	background-color: #54FF7F;
	margin-top: 35px;
}

.btn-1{
	width: 100%;
	border-radius: 0px;

}

footer{
	background-color: #000000;
	color: #FFFF;
	padding-left: 20px;
	padding-right: 20px;
}

.margen-tabs{
	margin-bottom: 10px;
}